language: rust
sudo: false
cache:
  - cargo

rust:
  - stable

branches:
  only:
  - master

before_script:
  - (test -x $HOME/.cargo/bin/cargo-install-update || cargo install cargo-update)
  - (test -x $HOME/.cargo/bin/mdbook || cargo install --vers "^0.1" mdbook)
  - cargo install-update -a

script:
  - cd second-edition && mdbook build && mdbook test
