[package]
name = "mdbook-trpl"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "mdbook-trpl-note"
path = "src/bin/note.rs"

[[bin]]
name = "mdbook-trpl-listing"
path = "src/bin/listing.rs"

[[bin]]
name = "mdbook-trpl-heading"
path = "src/bin/heading.rs"

[[bin]]
name = "mdbook-trpl-figure"
path = "src/bin/figure.rs"

[dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }
html_parser = "0.7.0"
mdbook-preprocessor = "0.5.1"
pulldown-cmark = { version = "0.12", features = ["simd"] }
pulldown-cmark-to-cmark = "19"
serde = { version = "1.0.228", features = ["serde_derive"] }
serde_json = "1"
thiserror = "1.0.60"
toml = "0.8.12"

[dev-dependencies]
assert_cmd = "2"

# This package is used as a path dependency in `rust-lang/rust`, not published
# to crates.io, so it cannot be part of the `rust-lang/book` workspace, because
# path dependencies do not get built as a crate within the hosting workspace.
[workspace]
