@import "normalize.css/normalize.css";
@import "rc-slider/assets/index.css";
@import "@wcrichto/mdbook-quiz/dist/embed.css";
@import "highlight.js/styles/default.css";

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
}

h1 {
  margin: 0;
}

h2 {
  margin-bottom: 0.3em;
}

#root {
  padding: 1rem;
}

.grids {
  display: flex;
  gap: 1rem;

  > div {
    flex: 1;
  }
}

.rdg {
  block-size: 490px;
}

.filter-cell {
  line-height: 35px;
  padding: 0;
  > div {
    padding-block: 0;
    padding-inline: 8px;
    &:first-child {
      border-block-end: 1px solid var(--rdg-border-color);
    }

    &:last-child {
      text-align: center;
    }
  }

  input[type=text] {
    width: 100%;
  }
}

.rc-slider {
  display: inline-block;
  height: 22px;
  padding: 0;
  vertical-align: middle;
  width: 80%;
}

.rc-slider-mark {
  top: 0;
  font-size: 10px;
}

.qa-wrapper {
  display: flex;
  gap: 1rem;

  > div {
    flex: 1;
  }
}

.mdbook-quiz {
  border: 0;
  margin: 0;
  padding: 1rem;
  border: 1px solid #ccc;

  .prompt {
    padding: 0;
  }

  .answer .answer-row > div {
    padding: 0;

    .correct:before {
      content: "";
      margin: 0;
    }
  }
}

.wrong-answer {
  border: 1px solid #ccc;
  margin-bottom: 0.5em;
  padding: 1rem;
}
