$mobile-cutoff: 800px;
@mixin mobile {
  @media (max-width: ($mobile-cutoff - 1)) {
    @content;
  }
}

.consent-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: var(--bg);
  z-index: 1000;
  overflow-y: auto;

  .container {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 2em;

    a {
      color: var(--links);
    }

    @include mobile {
      width: auto;
      padding: 1em;

      h1 {
        margin-top: 0;
      }
    }    

    h2 {
      margin: 0;

      @include mobile {
        margin-top: 2em;
      }
    }

    section {
      margin-top: 2em;
    }

    .row {
      display: flex;
      gap: 1em;

      @include mobile {
        flex-direction: column;
        align-items:center;
        gap: 0.5em;
      }
    }

    li {
      margin-bottom: 1em;
    }

    img {
      object-fit: contain;
    }

    button {
      font-size: 16px;
      padding: 5px 8px;
      margin-top: 1em;
      cursor: pointer;
      background-color: var(--searchbar-bg);
      color: var(--searchbar-fg);
      border: 1px solid var(--searchbar-border-color);
      border-radius: 4px;
    }
  }
}